@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=Bungee&family=Monoton&family=Montserrat:wght@500;600;700&display=swap');



/***** INITIAL SETUP *****/

:root{
  /*font style*/
  --logo-font: 'Bungee', cursive;
  --normal-font: 'Montserrat', serif;

  /*background*/
  --brand-bg: #1e272e;

  /*color*/
  --color-white: #fff;
}

body{
  font-family: var(--normal-font);
  background-color:#ebe4e4;
}






